.unity-button {
    font-size: 36px;
}

.unity-base-field {
    font-size: 36px;
}

.unity-label {
    font-size: 36px;
}

TemplateContainer {
    flex-grow: 1;
}

#VisualElement > VisualElement > .unity-progress-bar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(255, 255, 255);
}

#VisualElement > VisualElement > .unity-progress-bar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__title-container {
}

#VisualElement > VisualElement > .unity-progress-bar > #unity-progress-bar > .unity-progress-bar__background {
    background-color: rgb(31, 31, 31);
}

#VisualElement > VisualElement > .unity-progress-bar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__title-container > .unity-progress-bar__title {
    color: rgb(123, 123, 123);
}
