#OptionGroup > .unity-button {
    flex-grow: 1;
    align-self: stretch;
    -unity-background-image-tint-color: rgb(56, 56, 56);
    background-color: rgb(207, 207, 207);
    background-size: 100% 100%;
    border-left-color: rgb(255, 255, 255);
    border-right-color: rgb(255, 255, 255);
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
    border-left-width: 8px;
    border-top-left-radius: 67px;
    border-bottom-left-radius: 67px;
    border-bottom-right-radius: 67px;
    border-top-right-radius: 67px;
    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 7%;
    margin-right: 7%;
    font-size: 66px;
    color: rgb(87, 87, 87);
    -unity-text-outline-color: rgb(113, 113, 113);
    -unity-text-outline-width: 1px;
    text-shadow: 0.8px 1.1px 4px rgb(0, 0, 0);
    justify-content: space-between;
    align-content: stretch;
}

#OptionGroup > .unity-button:hover {
    background-color: rgb(140, 140, 140);
}

#option-cat .unity-button {
    background-color: rgba(0, 0, 0, 0.59);
    color: rgb(255, 255, 255);
}

#option-cat .unity-button:hover {
    background-color: rgba(84, 84, 84, 0.59);
    color: rgb(163, 163, 163);
}

#option-menu .unity-button {
    background-color: rgba(0, 0, 0, 0.59);
    color: rgb(255, 255, 255);
}

#option-menu .unity-button:hover {
    background-color: rgba(84, 84, 84, 0.59);
    color: rgb(163, 163, 163);
}

#display-mode > .unity-enum-field__input {
    flex-grow: 1;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 15%;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
